# Node
node_modules/
build/

# React
.env
dist/

# ASP.NET
bin/
obj/

# Mac
.DS_Store

# Ignore SQLite database files
# Server/app.db
Server/app.db-shm
Server/app.db-wal
Front/src/api/client_backup.js
